.container {
  display: flex;
  cursor: pointer;
}

.container:hover {
  background-color: lightblue;
}

.card {
  margin-bottom: 10px;
}

.image {
  width: 300px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
